<div class="row col-md-12">
    <div class="col col-md-4">
        <div class="card">
            <div class="card-header">
                <div class="card-title">
                    <h4>
                        Formulaire d'Extraction
                    </h4>
                </div>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="type" class="control-label">Type Fichier</label>
                    <select id="type" class="form-control" disabled>
                        <option value="IMG">Image</option>
                    </select>
                </div>
                <form [formGroup]="form">
                    <div class="form-group mt-2">
                        <label for="file" class="control-label">Choix d'une image</label>
                        <input formControlName="file" class="form-control" type="file" id="upload-doc" [accept]="accept"
                            required (change)="onSelectImage($event)">
                    </div>
                    <div class="col-md-4 mt-2">
                        <button class="btn btn-success" (click)="extract()" type="submit"
                            [disabled]="isLoading || !selectedImage">
                            <span class="spinner-border" *ngIf="isLoading"></span> Extraire
                        </button>
                    </div>
                </form>
            </div>
        </div><br>
        <div class="card" *ngIf="extractedData">
            <div class="card-header">
                <div class="card-title">
                    <h4>
                        Validation des données
                    </h4>
                </div>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="type" class="control-label">Model:</label>
                    <input type="text" [value]="extractedData.template" disabled class="form-control">
                </div>
                <form [formGroup]="formData">
                    <div class="form-group mt-2">
                        <label for="file" class="control-label">Medecins :</label>
                        <input formControlName="nom_medecin" [(ngModel)]="extractedData.nom_medecin"
                            class=" form-control" type="text" required>
                    </div>
                    <div class="form-group mt-2">
                        <label for="file" class="control-label">Hopital :</label>
                        <input formControlName="nom_hopital" class=" form-control"
                            [(ngModel)]="extractedData.nom_hopital" type="text" required>
                    </div>
                    <div class="form-group mt-2">
                        <label for="file" class="control-label">Tarif :</label>
                        <input formControlName="tarif" class="form-control" type="number"
                            [(ngModel)]="extractedData.tarif" required>
                    </div>
                    <div class="form-group mt-2">
                        <label for="file" class="control-label">Contenue :</label>
                        <textarea formControlName="contenue" class="form-control" cols="10"
                            [(ngModel)]="extractedData.contenue" rows="3"></textarea>
                    </div>
                    <div class="col-md-4 mt-2">
                        <button class="btn btn-success" (click)="save()" type="submit"
                            [disabled]="isLoadingDatas || formData.invalid">
                            <span class="spinner-border" *ngIf="isLoadingDatas"></span> Enregistrer
                        </button>
                    </div>
                </form>
            </div>
        </div><br>
        <div class="card">
            <div class="card-header">
                <div class="card-title">
                    <h4>
                        Ajouter un model
                    </h4>
                </div>
            </div>
            <div class="card-body">
                <form [formGroup]="formModel">
                    <div class="form-group mt-2">
                        <label for="file" class="control-label">nom du model</label>
                        <input formControlName="nom" class="form-control" type="text">
                    </div>
                    <div class="form-group mt-2">
                        <label for="file" class="control-label">Template du model</label>
                        <input formControlName="template" class="form-control" type="text">
                    </div>
                    <div class="col-md-4 mt-2">
                        <button class="btn btn-success" (click)="saveModel()" type="submit"
                            [disabled]="isLoadingModel || formModel.invalid">
                            <span class="spinner-border" *ngIf="isLoadingModel"></span> Sauvegarder
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col col-md-8">
        <div class="card">
            <div class="card-header">
                <div class="card-title">
                    <h4>
                        Données Extraites
                    </h4>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-responsive table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Model</th>
                            <th>nom_medecin</th>
                            <th>tarif</th>
                            <th>nom_hopital</th>
                            <th>contenue</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of datas">
                            <td>{{ item?.model?.nom }}</td>
                            <td>{{ item?.nom_medecin }}</td>
                            <td>{{ item?.tarif }}</td>
                            <td>{{ item?.nom_hopital }}</td>
                            <td>{{ item?.contenue }}</td>
                            <td>
                                <button class="btn btn-danger" (click)="delete(item)">
                                    del
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header">
                <div class="card-title">
                    <h4>
                        Models Enregistré
                    </h4>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-responsive table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Template</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of models">
                            <td>{{ item?.nom }}</td>
                            <td>{{ item?.template }}</td>
                            <td>
                                <button class="btn btn-danger" (click)="deleteModel(item)">
                                    del
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>